HELP.md
.gradle
build/
bin/
!awards-service/gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**

### API Gateway ###
./api-gateway/build
./api-gateway/.gradle
./api-gateway/out

### Awards-Service ###
./awards-service/build
./awards-service/.gradle
./awards-service/out

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
