<mat-card>
  <div *ngFor="let category of categories">
    <mat-form-field appearance="fill">
      <mat-label>{{category}}</mat-label>
      <input type="text" matInput [ngModel]="nominations.get(category)" (ngModelChange)="nominations.set(category, $event)">
    </mat-form-field>
  </div>
  <div>
    <button mat-button (click)="submit()">Submit</button>
    <div id="progress-bar-container" *ngIf="isSubmitStateFetching()">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</mat-card>
