<mat-card *ngIf="isCategoriesStatusSuccess()">
  <div *ngFor="let category of categories">
    <mat-form-field appearance="fill">
      <mat-label>{{category}}</mat-label>
      <input type="text" matInput [ngModel]="nominations.get(category)" (ngModelChange)="nominations.set(category, $event)">
    </mat-form-field>
  </div>
  <div>
    <button mat-button (click)="submit()">Submit</button>
    <div id="progress-bar-container" *ngIf="isSubmitStateFetching()">
      <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    </div>
  </div>
</mat-card>

<div class="central-spinner" *ngIf="isCategoriesStatusFetching()">
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
</div>

<ng-container *ngIf="isCategoriesStatusError()">
  <mat-card>
    <mat-card-title>An Error occurred</mat-card-title>
    <mat-card-content>
      Unable to retrieve categories.
    </mat-card-content>
  </mat-card>
</ng-container>
